#item{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#item p{
    font-size: 25px;
}
img{
    width:300px;
}
#item h1{
    color:blue;
}
#item h1:hover{
    font-size: 28px;
}