#navbar{
    display:flex;
    flex-direction: space-around;
    align-items: center;
    gap:30px;
    justify-content: space-between;
    margin-left:30px;
}
#name{
    display:flex;
    gap:50px;
}
#navbar h1{
    color:deep rgb(2, 2, 15);
    /* background-color: red; */
    font-size: 100px;
    margin-left:20px ;
    letter-spacing: 1px;
    color:black;
    text-shadow:0px 0px 5px red;
}